


ipykernel==6.29.3
ipython==8.17.2

Markdown==3.6

numpy==1.22.3

opencv-contrib-python==4.9.0.80
opencv-python==4.6.0
opencv-python-headless==4.9.0.80

pandas==2.0.3



tensorboard-data-server==0.7.2
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0

tensorflow-metadata==1.14.0

twilio==9.0.2
